/*
  Theme Name: Regna
  Theme URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
  Author: BootstrapMade.com
  License: https://bootstrapmade.com/license/
*/
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    background: #fff;
    color: #666666;
    //text color font-family: "Open Sans", sans-serif;
}

a {
    color: #220B5B;
}

    a:hover, a:active, a:focus {
        color: #220B5B;
        outline: none;
        text-decoration: none;
    }

p {
    padding: 0;
    margin: 0 0 30px 0;
}

h1, h2 {
    font-family: "HankenBook", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}

h3, h4, h5, h6 {
    font-family: "HankenLight", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}

/* Prelaoder */
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff url("../img/preloader.svg") no-repeat center center;
}

/* Back to top button */
.back-to-top {
    position: fixed;
    display: none;
    background: rgba(34, 11, 91, 0.2);
    color: #fff;
    padding: 6px 12px 9px 12px;
    font-size: 16px;
    border-radius: 2px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
}

@media (max-width: 768px) {
    .back-to-top {
        bottom: 15px;
    }
}

.back-to-top:focus {
    background: rgba(34, 11, 91, 0.2);
    color: #fff;
    outline: none;
}

.back-to-top:hover {
    background: #220B5B;
    color: #fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    padding: 30px 0;
    height: 92px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}

    #header #logo {
        float: left;
        /* background-image: url("../img/InterneuronWebHeaderWhite.png"); */
    }

        #header #logo h1 {
            font-size: 18px;
            margin: 0;
            padding: 6px 0;
            line-height: 1;
            font-family: "HankenBook", sans-serif;
            font-weight: 700;
            letter-spacing: 3px;
            text-transform: uppercase;
        }

            #header #logo h1 a, #header #logo h1 a:hover {
            }

        #header #logo img {
            padding: 0;
            margin: 0;
        }


@media (max-width: 768px) {
    #header #logo h1 {
        font-size: 26px;
        color: rgba(34, 11, 91, 0.9);
    }

    #header #logo img {
        max-height: 40px;
    }
}


.card {
}



#header.header-fixed {
    background: rgba(34, 11, 91, 0.9);
    padding: 15px 0;
    height: 72px;
    transition: all 0.5s;
}

.logoHolder-purple{
    width: 150px;
    height: 36px;
    background-image: url('../img/InterneuronWebHeader.svg');
    background-repeat: no-repeat;
    display: inline-block;
}


    .logoHolder-white {
        width: 150px;
        height: 36px;
        background-image: url('../img/InterneuronWebHeaderWhite.svg');
        background-repeat: no-repeat;
        display: inline-block;
    }


    #header.header-fixed a {
        color: #fff;
    }


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    display: table;
    width: 100%;
    height: 100vh;
    background: url("../img/background_small.svg") top center fixed;
    background-size: cover;
}

    #hero .hero-container {
        background: linear-gradient(rgba(204, 201, 219, 0.0), rgba(204, 201, 219, 0.1));
        display: table-cell;
        margin: 0;
        padding: 0 10px;
        text-align: center;
        padding-top: 90px;
        vertical-align: top;
    }

    #hero h1 {
        margin: 30px 0 10px 0;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        text-transform: uppercase;
        color: #220B5B;
    }

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
}

#hero h2 {
    color: #eee;
    margin-bottom: 50px;
    font-size: 24px;
}

@media (max-width: 768px) {
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

#hero .btn-get-started {
    font-family: "OrkneyRegular", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    border: 2px solid #fff;
    color: #fff;
}

    #hero .btn-get-started:hover {
        background: #220B5B;
        border: 2px solid #220B5B;
    }

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .nav-menu ul {
        position: absolute;
        display: none;
        top: 100%;
        left: 0;
        z-index: 99;
    }

    .nav-menu li {
        position: relative;
        white-space: nowrap;
    }

    .nav-menu > li {
        float: left;
    }

    .nav-menu li:hover > ul,
    .nav-menu li.sfHover > ul {
        display: block;
    }

    .nav-menu ul ul {
        top: 0;
        left: 100%;
    }

    .nav-menu ul li {
        min-width: 180px;
    }

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
    padding-right: 30px;
}

    .sf-arrows .sf-with-ul:after {
        content: "\f107";
        position: absolute;
        right: 15px;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
    }

.sf-arrows ul .sf-with-ul:after {
    content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
    float: right;
    margin: 0;
}

@media (max-width: 768px) {
    #nav-menu-container {
        display: none;
    }
}

/* Nav Meu Styling */
.nav-menu a {
    padding: 0 8px 10px 8px;
    text-decoration: none;
    display: inline-block;
    color: #220B5B;
    font-family: "OrkneyRegular", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    outline: none;
}

.nav-menu > li {
    margin-left: 10px;
}

    .nav-menu > li > a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #220B5B;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .menu-active > a:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.nav-menu ul {
    margin: 4px 0 0 0;
    border: 1px solid #e7e7e7;
}

    .nav-menu ul li {
        background: #fff;
    }

        .nav-menu ul li:first-child {
            border-top: 0;
        }

        .nav-menu ul li a {
            padding: 10px;
            color: #333;
            transition: 0.3s;
            display: block;
            font-size: 13px;
            text-transform: none;
        }

            .nav-menu ul li a:hover {
                background: #220B5B;
                color: #fff;
            }

    .nav-menu ul ul {
        margin: 0;
    }

/* Mobile Nav Toggle */
#mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 20px 20px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
}

    #mobile-nav-toggle i {
        color: #fff;
    }

@media (max-width: 768px) {
    #mobile-nav-toggle {
        display: inline;
    }
}

/* Mobile Nav Styling */
#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(34, 11, 91, 0.9);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
}

    #mobile-nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

        #mobile-nav ul li {
            position: relative;
        }

            #mobile-nav ul li a {
                color: #fff;
                font-size: 16px;
                overflow: hidden;
                padding: 10px 22px 10px 15px;
                position: relative;
                text-decoration: none;
                width: 100%;
                display: block;
                outline: none;
            }

                #mobile-nav ul li a:hover {
                    color: #fff;
                }

            #mobile-nav ul li li {
                padding-left: 30px;
            }

        #mobile-nav ul .menu-has-children i {
            position: absolute;
            right: 0;
            z-index: 99;
            padding: 15px;
            cursor: pointer;
            color: #fff;
        }

            #mobile-nav ul .menu-has-children i.fa-chevron-up {
                color: #220B5B;
            }

        #mobile-nav ul .menu-item-active {
            color: #220B5B;
        }

#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(34, 11, 91, 0.9);
    display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
    overflow: hidden;
}

    body.mobile-nav-active #mobile-nav {
        left: 0;
    }

    body.mobile-nav-active #mobile-nav-toggle {
        color: #fff;
    }

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/
.section-header .section-title {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
}

.section-header .section-description {
    text-align: center;
    padding-bottom: 40px;
    color: #999;
}

/* About Us Section
--------------------------------*/
#about {
    background: linear-gradient(rgba(204, 201, 219, 0.0), rgba(204, 201, 219, 0.1));
    padding: 60px 0;
}

    #about .about-container .background {
        min-height: 300px;
        background: url(../img/OpenchainLogoLarge.svg) center top no-repeat;
        margin-bottom: 10px;
    }

    #about .about-container .content {
        background: rgba(204, 201, 219, 0.0);
        //transparent
    }

    #about .about-container .title {
        color: #000;
        font-weight: 300;
        font-size: 32px;
    }

@media (max-width: 768px) {
    #about .about-container .title {
        padding-top: 15px;
    }
}

#about .about-container p {
    line-height: 26px;
}

    #about .about-container p:last-child {
        margin-bottom: 0;
    }

#about .about-container .icon-box {
    background: rgba(204, 201, 219, 0.0);
    //transparent background-size: cover;
    padding: 0 0 30px 0;
}

    #about .about-container .icon-box .icon {
        float: left;
        background: rgba(204, 201, 219, 0.0);
        //transparent padding: 16px;
        border-radius: 50%;
        border: 2px solid #220B5B;
    }

        #about .about-container .icon-box .icon i {
            color: #220B5B;
            font-size: 24px;
        }

    #about .about-container .icon-box .title {
        margin-left: 80px;
        font-weight: 500;
        margin-bottom: 5px;
        font-size: 18px;
        text-transform: uppercase;
    }

        #about .about-container .icon-box .title a {
            color: #111;
        }

    #about .about-container .icon-box .description {
        margin-left: 80px;
        line-height: 24px;
        font-size: 14px;
    }


    /* Solutions  Section
    --------------------------------*/
    #soltuions {
        background: linear-gradient(rgba(204, 201, 219, 0.0), rgba(204, 201, 219, 0.1));
        padding: 60px 0;
    }

        #soltuions .soltuions-container .background {
            min-height: 300px;
            background: url(../img/MagnifyingIcon.svg) center top no-repeat;
            margin-bottom: 10px;
        }

        #soltuions .soltuions-container .content {
            background: rgba(204, 201, 219, 0.0);
            //transparent
        }

        #soltuions .soltuions-container .title {
            color: #333;
            font-weight: 300;
            font-size: 32px;
        }

    @media (max-width: 768px) {
        #soltuions .about-container .title {
            padding-top: 15px;
        }
    }

    #soltuions .soltuions-container p {
        line-height: 26px;
    }

        #soltuions .soltuions-container p:last-child {
            margin-bottom: 0;
        }

    #soltuions .soltuions-container .icon-box {
        background: rgba(204, 201, 219, 0.0);
        //transparent background-size: cover;
        padding: 0 0 30px 0;
    }

        #soltuions .soltuions-container .icon-box .icon {
            float: left;
            background: rgba(204, 201, 219, 0.0);
            //transparent padding: 16px;
            border-radius: 50%;
            border: 2px solid #220B5B;
        }

            #soltuions .soltuions-container .icon-box .icon i {
                color: #220B5B;
                font-size: 24px;
            }

        #soltuions .soltuions-container .icon-box .title {
            margin-left: 80px;
            font-weight: 500;
            margin-bottom: 5px;
            font-size: 18px;
            text-transform: uppercase;
        }

            #soltuions .soltuions-container .icon-box .title a {
                color: #111;
            }

        #soltuions .soltuions-container .icon-box .description {
            margin-left: 80px;
            line-height: 24px;
            font-size: 14px;
        }

/* Facts Section
--------------------------------*/
#facts {
    background: #f7f7f7;
    padding: 80px 0 60px 0;
}

    #facts .counters span {
        font-size: 48px;
        display: block;
        color: #220B5B;
    }

    #facts .counters p {
        padding: 0;
        margin: 0 0 20px 0;
        font-family: "OrkneyRegular", sans-serif;
        font-size: 14px;
    }

/* Services Section
--------------------------------*/
#services {
    background: #fff;
    background-size: cover;
    padding: 80px 0 60px 0;
}

    #services .box {
        padding: 50px 20px;
        margin-bottom: 50px;
        text-align: center;
        border: 1px solid #e6e6e6;
        height: 200px;
        position: relative;
        background: #fafafa;
    }

    #services .icon {
        position: absolute;
        top: -36px;
        left: calc(50% - 36px);
        transition: 0.2s;
        border-radius: 50%;
        display: inline-block;
        border: 6px solid #fff;
    }

        #services .icon a {
            display: inline-block;
            background: #220B5B;
            border: 2px solid #220B5B;
            padding: 16px;
            border-radius: 50%;
            transition: 0.3s;
        }

        #services .icon i {
            color: #fff;
            font-size: 24px;
        }

    #services .box:hover .icon i {
        color: #220B5B;
    }

    #services .box:hover .icon a {
        color: #220B5B;
        background: #fff;
    }

    #services .title {
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

        #services .title a {
            color: #111;
        }

    #services .description {
        font-size: 14px;
        line-height: 24px;
    }

/* Call To Action Section
--------------------------------*/
#call-to-action {
    background: linear-gradient(rgba(34, 11, 91, 0.1), rgba(34, 11, 91, 0.0)), url(../img/background.svg) fixed center center;
    background-size: cover;
    padding: 80px 0;
}

    #call-to-action .cta-title {
        color: #fff;
        font-size: 28px;
        font-weight: 700;
    }

    #call-to-action .cta-text {
        color: #fff;
    }

@media (min-width: 769px) {
    #call-to-action .cta-btn-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

#call-to-action .cta-btn {
    font-family: "OrkneyRegular", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

    #call-to-action .cta-btn:hover {
        background: #220B5B;
        border: 2px solid #220B5B;
    }

/* Portfolio Section
--------------------------------*/
#portfolio {
    background: linear-gradient(rgba(204, 201, 219, 0.0), rgba(204, 201, 219, 0.1)), url(../img/background.svg) fixed center center;
    background-size: cover;
    padding: 80px 0;
}

    #portfolio #portfolio-wrapper {
        padding-right: 15px;
    }

    #portfolio #portfolio-flters {
        padding: 0;
        margin: 0 0 45px 0;
        list-style: none;
        text-align: center;
    }

        #portfolio #portfolio-flters li {
            cursor: pointer;
            margin: 0 10px;
            display: inline-block;
            padding: 10px 22px;
            font-size: 14px;
            line-height: 20px;
            color: #666666;
            border-radius: 4px;
            text-transform: uppercase;
            background: rgba(204, 201, 219, 0.0);
            margin-bottom: 5px;
            transition: all 0.3s ease-in-out;
        }

            #portfolio #portfolio-flters li:hover, #portfolio #portfolio-flters li.filter-active {
                background: rgba(204, 201, 219, 0.2);
                color: #000;
            }

    #portfolio .portfolio-item {
        position: relative;
        height: 220px;
        overflow: hidden !important;
        margin-bottom: 15px;
        transition: all 350ms ease;
        transform: scale(1);
    }

        #portfolio .portfolio-item a {
            display: block;
            margin-right: 15px;
        }

        #portfolio .portfolio-item img {
            position: relative;
            top: 0;
            transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
        }

        #portfolio .portfolio-item .details {
            height: 50px;
            background: rgba(204, 201, 219, 0.0);
            position: absolute;
            width: 100%;
            height: 50px;
            bottom: -50px;
            transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
        }

            #portfolio .portfolio-item .details h4 {
                font-size: 14px;
                font-weight: 700;
                color: #220B5B;
                padding: 8px 0 2px 8px;
                margin: 0;
            }

            #portfolio .portfolio-item .details span {
                display: block;
                color: #220B5B;
                font-size: 13px;
                padding-left: 8px;
            }

        #portfolio .portfolio-item:hover .details {
            bottom: 0;
        }

        #portfolio .portfolio-item:hover img {
            top: -30px;
        }

/* Team Section
--------------------------------*/
#team {
    background: linear-gradient(rgba(204, 201, 219, 0.0), rgba(204, 201, 219, 0.1)), url(../img/background.svg) fixed center center;
    background-size: cover;
    padding: 80px 0;
}

    #team .member {
        text-align: center;
        margin-bottom: 20px;
        font-size: 12px;
        color: #220B5B;
    }

        #team .member .pic {
            margin-bottom: 15px;
            overflow: hidden;
            height: 320px;
        }

            #team .member .pic img {
                max-width: 100%;
            }

        #team .member h4 {
            font-weight: 500;
            margin-bottom: 1px;
            font-size: 24px;
        }

        #team .member span {
            font-style: italic;
            display: block;
            font-size: 12px;
            margin-bottom: 12px;
        }

        #team .member .social {
            margin-top: 15px;
        }

            #team .member .social a {
                color: #b3b3b3;
            }

                #team .member .social a:hover {
                    color: #220B5B;
                }

            #team .member .social i {
                font-size: 18px;
                margin: 0 2px;
            }




/* Careers Section
--------------------------------*/
#careers {
    background: linear-gradient(rgba(204, 201, 219, 0.0), rgba(204, 201, 219, 0.1)), url(../img/background.svg) fixed center center;
    background-size: cover;
    padding: 80px 0;
}

    #careers #careers-wrapper {
        padding-right: 15px;
    }

    #careers #careers-flters {
        padding: 0;
        margin: 0 0 45px 0;
        list-style: none;
        text-align: center;
    }

        #careers #careers-flters li {
            cursor: pointer;
            margin: 0 10px;
            display: inline-block;
            padding: 10px 22px;
            font-size: 14px;
            line-height: 20px;
            color: #666666;
            border-radius: 4px;
            text-transform: uppercase;
            background: rgba(204, 201, 219, 0.0);
            margin-bottom: 5px;
            transition: all 0.3s ease-in-out;
        }

            #careers #careers-flters li:hover, #careers #careers-flters li.filter-active {
                background: rgba(204, 201, 219, 0.2);
                color: #000;
            }

    #careers .careers-item {
        position: relative;
        height: 220px;
        overflow: hidden !important;
        margin-bottom: 15px;
        transition: all 350ms ease;
        transform: scale(1);
    }

        #careers .careers-item a {
            display: block;
            margin-right: 15px;
        }

        #careers .careers-item img {
            position: relative;
            top: 0;
            transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
        }

        #careers .careers-item .details {
            height: 50px;
            background: rgba(204, 201, 219, 0.0);
            position: absolute;
            width: 100%;
            height: 50px;
            bottom: -50px;
            transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
        }

            #careers .careers-item .details h4 {
                font-size: 14px;
                font-weight: 700;
                color: #220B5B;
                padding: 8px 0 2px 8px;
                margin: 0;
            }

            #careers .careers-item .details span {
                display: block;
                color: #220B5B;
                font-size: 13px;
                padding-left: 8px;
            }

        #careers .careers-item:hover .details {
            bottom: 0;
        }

        #careers .careers-item:hover img {
            top: -30px;
        }

/* Contact Section
--------------------------------*/
#contact {
    background: linear-gradient(rgba(204, 201, 219, 0.0), rgba(204, 201, 219, 0.1));
    padding: 80px 0 40px 0;
}

    #contact #google-map {
        height: 300px;
        margin-bottom: 20px;
    }

    #contact .info {
        color: rgba(34, 11, 91, 1.0);
    }

        #contact .info i {
            font-size: 32px;
            color: #220B5B;
            float: left;
        }

        #contact .info p {
            padding: 0 0 10px 50px;
            margin-bottom: 20px;
            line-height: 22px;
            font-size: 14px;
        }

        #contact .info .email p {
            padding-top: 5px;
        }

    #contact .social-links {
        padding-bottom: 20px;
    }

        #contact .social-links a {
            font-size: 18px;
            display: inline-block;
            background: #333;
            color: #fff;
            line-height: 1;
            padding: 8px 0;
            border-radius: 50%;
            text-align: center;
            width: 36px;
            height: 36px;
            transition: 0.3s;
        }

            #contact .social-links a:hover {
                background: #220B5B;
                color: #fff;
            }

    #contact .form #sendmessage {
        color: rgba(34, 11, 91, 0.8);
        border: 1px solid rgba(34, 11, 91, 0.8);
        display: none;
        text-align: center;
        padding: 15px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    #contact .form #errormessage {
        color: red;
        display: none;
        border: 1px solid red;
        text-align: center;
        padding: 15px;
        font-weight: 600;
        margin-bottom: 15px;
    }

        #contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
            display: block;
        }

    #contact .form .validation {
        color: red;
        display: none;
        margin: 0 0 20px;
        font-weight: 400;
        font-size: 13px;
    }

    #contact .form input, #contact .form textarea {
        border-radius: 0;
        box-shadow: none;
        font-size: 14px;
    }

    #contact .form button[type="submit"] {
        background: rgba(34, 11, 91, 0.8);
        border: 0;
        padding: 10px 24px;
        color: #fff;
        transition: 0.4s;
    }

        #contact .form button[type="submit"]:hover {
            background: rgba(34, 11, 91, 1.0);
        }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: rgba(34, 11, 91, 0.8);
    padding: 30px 0;
    color: #fff;
    font-size: 14px;
}

    #footer .copyright {
        text-align: center;
    }

    #footer .credits {
        padding-top: 10px;
        text-align: center;
        font-size: 13px;
        color: #ccc;
    }
